node {
  z-index: 0;
  fill-mode: dyn-plain;
  size-mode: dyn-size;
  stroke-width: 3px;
  stroke-color: black;
  text-alignment: under;
}

node.big {
  fill-color: red, white;
}

node.small {
  fill-color: green, white;
}

sprite {
  fill-color: rgba(255,255,255,0);
  size-mode: dyn-size;
  stroke-mode: plain;
  stroke-color: black;
  stroke-width: 2px;
}

edge {
  shape: line;
  fill-mode: dyn-plain;
  size-mode: dyn-size;
  arrow-shape: arrow;
  arrow-size: 5px, 5px;
}

edge.below {
  fill-color: red, black;
}

edge.larger {
  fill-color: green, black;
}
